:root {
    --light-green:#3efafa;
    --green:#07A8A7;
    --light-yellow: #f5db5b;
    --yellow: #F5D42F;
    --dark-yellow: #c7ad29;
    --purple: #A82086;
    --dark-green: #0B3030;
    --body-background: rgb(238, 238, 238);
    --text-color: rgb(243, 243, 243);
}

html,
body {
    height: 100%;
    background-color: var(--body-background);
    background-image: url(/images/texture.jpg);
    background-size: cover;
    background-position: center center;
}

.wrapper {
    flex: 1 0 auto;
}


/* typography */

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--dark-green);
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: var(--text-color);
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--dark-green);
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    /* font-weight: bold; */
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    /* color: #000; */
    background-image: linear-gradient(var(--light-green), var(--green), var(--green), var(--green), var(--light-green));
    /* text-shadow: 1px 1px 1px var(--dark-green); */
}

/* general styles */

.header {
    background-color: var(--yellow);
    padding: 0.5em 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.transparent {
    background-color: var(--dark-green);
    background: rgba(255, 249, 192, 0.7);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* navbar */

.navbar {
    background-color: var(--body-background);
}

.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: var(--dark-green);
}

span {
    color: var(--dark-green);
    font-weight: bold;
}

.navbar-brand:hover {
    color: var(--dark-green);
}
.nav-link {
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 51, 51); 
}
.nav-link:hover {
    color: var(--green);
}
.active {
    color: var(--green);
}

.btn {
    background-color: var(--yellow);
    color: var(--text-color);
    border: var(--yellow);
}
.navbar-toggler {
    color: var(--green);
    font-size: 10px;
}

/* home styles */

.content_cover {
    height: 400px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    height: 200px;
    margin-top: 1em;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* productpage styles */

.banner-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner-cont {
    width: 90%;
    height: 400px;
    filter: drop-shadow(8px 8px 10px black);
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 2px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* .banner-wrapper {
    display: flex;
    justify-content: center;
}
.banner-container {
    width: 70%;
    position: relative;
    text-align: center;
}

.banner {
    width: 100%;
    filter: saturate(80%);
    filter: drop-shadow(8px 8px 10px black);
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 2px;
}

.decorations-header {
    position: absolute;
    top: 100px;
    right: 100px;
} */

.carousel-control-prev-icon {
    color: var(--dark-green);
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-heading {
    margin-top: 1em;
}
.card-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-icon {
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

/* footer style */

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    background-color: var(--body-background);
    margin-top: 4em;
    font-size: 14px;
    padding: 2em;
}

footer a {
    font-family: 'Raleway', sans-serif;
    color: var(--purple);
    text-decoration: none;
}

footer a:hover {
    color: var(--text-color);
}

