:root {
    --green:#07A8A7;
    --yellow: #F5D42F;
    --purple: #A82086;
    --dark-green: #0B3030;
    --body-background: rgb(238, 238, 238);
    --text-color: rgb(243, 243, 243);
}

html,
body {
    height: 100%;
    background-color: var(--body-background);
    background-image: url(/images/texture.jpg);
    background-size: cover;
    background-position: center center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--dark-green);
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: var(--text-color);
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--dark-green);
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: var(--yellow);
    padding: 0.5em 1em;
}

div.transparent {
    background-color: var(--dark-green);
    background: rgba(255, 249, 192, 0.7);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.navbar {
    background-color: var(--body-background);
}

.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: var(--dark-green);
}

span {
    color: var(--dark-green);
    font-weight: bold;
}

.navbar-brand:hover {
    color: var(--dark-green);
}
.nav-link {
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 51, 51); 
}
.nav-link:hover {
    color: var(--green);
}
.active {
    color: var(--green);
}

.btn {
    background-color: var(--yellow);
    color: var(--text-color);
    border: var(--yellow);
}
.navbar-toggler {
    color: var(--green);
    font-size: 10px;
}
.content_cover {
    height: 400px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    height: 200px;
    margin-top: 1em;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    background-color: var(--body-background);
    margin-top: 2em;
    font-size: 14px;
    padding: 2em;
}

footer a {
    font-family: 'Raleway', sans-serif;
    color: var(--purple);
    text-decoration: none;
}

footer a:hover {
    color: var(--text-color);
}

.wrapper {
    flex: 1 0 auto;
}